*{box-sizing:border-box;}
:root {
  --red: #EF476F;
    --red-dark: #5f1c2c;
  --green: #06D6A0;
    --green-dark: #038060;
  --blue: #118AB2;
    --blue-light: #58adc9;
  --orange: #DFA06E;
    --orange-dark: #6f5037;
    --orange-light: #e8bc99;
  --navy: #073B4C;
    --navy-dark: #04232d;
    --navy-light: #38626f;
    --navy-lighter: #87a0a8;
}
.clear{clear:both;}
body, html{
  padding:0;
  margin:0;
  font-family:sans-serif, arial;
  font-size:15px;
  color:#333;
}
#container{
  max-width:1400px;
  margin:0 auto;
  min-height:100px;
}
/* Universal layout */ 
.fifty-cont{
  
}
.fifty{
  width:50%;
  float:left;
}
/* Left menu */
.left-menu, .main{
  float:left;
  min-height:200px;
}
.left-menu .nav-link{
  display:block;
  text-decoration:none;
  padding:10px;
  margin-bottom:10px;
  border:1px solid #eee;
  font-weight:600;
  font-size:14px;
  color:#555;
  box-shadow:inset 0px 0px 5px #fff;
}
.left-menu .nav-link:last-child{
  margin-bottom:0;
}
.left-menu .box{
  padding:5px 5px 20px 0px;
  border-bottom:1px solid #eee;
  margin:10px 0;
}
.left-menu .box h3{
  margin:0 -10px 5px;
  font-weight:300;
  padding:5px 10px;
}
.left-menu .box:last-child{
  margin-bottom:0;
  border-bottom:0;
}
.left-menu{
  width:250px;
}
/* Main */
.main{
  width:calc(100% - 250px);
  padding:10px;
  position:relative;
}
.subpage-header{
  font-weight:300;
  margin:0 0 20px 0;
  font-size:36px;
  padding:5px 0;
  border-bottom:1px solid #eee;
}
/* Section */
.section{
  border-left:5px solid var(--orange);
  padding:5px 10px 5px;
  border-bottom:1px solid #f9f9f9;
  box-shadow:-9px 0px 9px 0px #f9f9f9;
  margin:5px 0 15px;
}
.section:nth-child(odd){
  border-left-color:var(--navy);
}

.section p{
  line-height:1.5em;
  margin:0;
  padding:5px 0px;
}
.section h2{
  font-weight:300;
  border-bottom:1px solid #f9f9f9;
  font-size:26px;
  margin:0px 0 10px;
}
/* Form elements */
input[type="text"], input[type="password"], input[type="email"]{
  border:1px solid #ddd;
  border-bottom-color:#eee;
  border-right-color:#eee;
  padding:3px 5px;
  font-size:14px;
  outline:none;
  width:100%;
}
input[disabled]{
  background:#f9f9f9;
}
input:focus, select:focus, textarea:focus, button:focus, *[class^="button"]:focus{
  box-shadow:0px 0px 1px 0px #118AB2;
  outline:none;
}
/* BUTTONS */
*[class^="button"], button{
  display:inline-block;
  cursor:pointer;
  padding:5px 10px;
  text-decoration:none;
  color:#333;
  background:#eee;
  border:1px solid #ccc;
  border-bottom-color:#ddd;
  border-right-color:#ddd;
  font-weight:bold;
  font-size:14px;
}
*[class^="button"] i.after, button i.after{
  margin-left:2px;
}
*[class^="button"] i.before, button i.before{
  margin-right:2px;
}
*[class^="button"].large, button.large{
  padding:25px 20px;
  border-style:dashed;
}
*[class^="button"].small, button.small{
  font-weight: normal;
  font-size:12px;
  background:none;
  border:none;
}
.button-green{
  background:var(--green);
  color:#f9f9f9;
  border-color:#111;
  border-left-color:var(--green-dark);
  border-top-color:var(--green-dark);
}
.button-navy{
  background:var(--navy);
  color:#fff;
  border-color:var(--navy-dark);
  border-left-color:#111;
  border-top-color:#111;
}
.button-red{
  background:var(--red-dark);
  color:#fff;
  border-color:var(--red-dark);
  border-left-color:#111;
  border-top-color:#111;
}
.plusbutton{
  display:inline-block;
  text-align:center;
  border-radius:2px;
  text-decoration:none;
  position:absolute;
  top:25px;
  right:15px;
}
/* Table */
.afterth td{
  padding-top:10px;
}
table{
  font-size:14px;
}
table, tr{
  width:400px;
}
td.info{
  color:#555;
}
td.go{
  text-align:right;
}
table tr td{
  padding:5px 0;
}
th{
  text-align:left;
  padding:5px 0 5px;
  font-size:15px;
  font-weight:600;
  color:#555;
  border-bottom:1px solid rgba(223, 160, 110, 0.2);
}
.section:nth-child(odd) th{
  border-bottom-color:var(--navy-lighter);
}
table tr td:first-child{
  width:30%;
}
td select{
  width:100%;
}
/* ONE OFF CLASSES */
.createSite{
  display:none;
}
/* MEDIA QUERIES */
@media only screen and (max-width:1100px){
  .fifty{
    float:none !important;
    width:100%;
  }
  .fifty table, .fifty table tr{
    width:100% !important;
  }
}