* {
    box-sizing: border-box;
}

:root {
    --red: #EF476F;
    --red-dark: #5f1c2c;
    --green: #06D6A0;
    --green-dark: #038060;
    --blue: #118AB2;
    --blue-light: #58adc9;
    --orange: #DFA06E;
    --orange-dark: #6f5037;
    --orange-light: #e8bc99;
    --navy: #073B4C;
    --navy-dark: #04232d;
    --navy-light: #38626f;
    --navy-lighter: #87a0a8;
}

.clear {
    clear: both;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif, arial;
    font-size: 15px;
    color: #333;
    background: #333;
}

#container {
    max-width: 1400px;
    /*
  margin:0 auto;*/
    margin: 0 0px;
    background: #333;
    min-height: 100px;
}

h1 {
    font-family: 'PT Serif';
}

fieldset {
    border: 1px solid #ddd;
}

.section p a {
    display: inline-block;
    text-decoration: none;
    color: var(--blue);
    border-bottom: 1px dashed var(--blue);
    background: rgba(40, 150, 195, 0.02);
}

.section p a:hover {
    background: none;
    border-bottom-style: solid;
}

.section p a:hover {
    background: none;
    border-bottom-style: solid;
}


/* Universal layout */

.fifty-cont {}


/* Universal layout */

.fifty-cont {}

.fifty {
    width: 50%;
    float: left;
}


/* Left menu */

.left-menu,
.main {
    float: left;
    min-height: 200px;
}

.left-menu .nav-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 14px;
    background: #222;
    color: #f9f9f9;
    border-radius: 2px;
    cursor: pointer;
}

.closed.nav-link:hover {
    background: #333 !important;
}

.left-menu .nav-link:last-child {
    margin-bottom: 0;
}

.closed.nav-link:hover i.dospin {
    transition: all 0.2s ease-in-out;
    animation: fa-spin 4s infinite linear;
    margin-right: 5px;
}

.sitecreation .tools {
    cursor: pointer;
}
.sitecreation .tools:hover{
    background:#eee;
}
.sitecreation.closed .tools:hover{
    background:#fff;
}
.sitecreation.closed .tools {
    cursor: auto !important;
}

.left-menu .box {
    padding: 5px 5px 20px 0px;
    margin: 10px 0;
}

.left-menu .box h3 {
    margin: 0 -10px 5px;
    font-weight: 300;
    padding: 5px 10px;
}

.left-menu .box:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.left-menu {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
}


/* Main */

.main {
    width: calc(100% - 250px);
    padding: 20px;
    position: relative;
    background: #fff;
    box-shadow: 15px 11px 20px 0px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 10px solid #222;
    border-top: 0;
    min-height: 600px;
    margin-bottom: 45px;
}

.main:after {
    content: "Made by Håkon Underbakke & Morten Hauge";
    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    color: #aaa;
    font-size: 12px;
}

.subpage-header {
    font-weight: 300;
    margin: 0 0 20px 0;
    font-size: 46px;
    padding: 5px 0 15px;
    border-bottom: 1px solid #eee;
}


/* Section */

.section {
    border-left: 5px solid var(--orange);
    padding: 5px 10px 5px;
    border-bottom: 1px solid #f9f9f9;
    box-shadow: -9px 0px 9px 0px #f9f9f9;
    margin: 5px 0 15px;
}

.section .section {
    border-left-color: #eee !important;
}

.section:nth-child(odd) {
    border-left-color: var(--navy);
}

.section header.tools {
    background: #fff;
    margin: -5px -10px;
    padding: 5px 10px;
    margin-bottom: 5px;
    color: #333;
    border-bottom: 1px solid #aaa;
}

.section header.tools i {
    cursor: pointer;
    float: left;
}

.section header.tools i:hover,
.openSiteButton:hover,
.downloadSiteButtonLarge:hover {
    margin-top: -1px;
}

.section.account {
    display: none;
    position: relative;
}

.section.account:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 50px;
    color: #fff;
    font-size: 41px;
    background: repeating-linear-gradient( 45deg, rgba(225, 171, 127, 0.3), rgba(225, 171, 127, 0.2) 10px, rgba(225, 171, 127, 0.3) 10px, rgba(225, 171, 127, 0.2) 20px);
    text-shadow: 0px 1px 1px #333;
    /* box-shadow: inset 0px 0px 46px -17px #000; */
}

.section.account:before {
    content: "Accounts coming ... maybe sometime!";
    position: absolute;
    top: 55px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 31px;
    left: 50%;
    margin-left: -301px;
    padding: 20px;
}

.section.sitecreation {
    border-left-color: var(--green-dark);
    border-top: 1px solid #f9f9f9;
    position: relative;
}

.section p {
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0px;
}

.section h2 {
    font-weight: 300;
    border-bottom: 1px solid #f9f9f9;
    font-size: 26px;
    margin: 0px 0 10px;
}


/* Editing sections */

.section .sitecreation.isEditing:hover {
    border-top-color: #aaa;
}

.section .siteCreation em {
    font-size: 15px;
}

.section .section.sitecreation.isEditing {
    border-left-color: #ddd !important;
    opacity: 0.8;
    background: #fff;
}

.section .section.sitecreation.isEditing .tools .mark {
    display: block !important;
}

.section .section.sitecreation.isEditing:first-child {
    margin-top: 20px;
}

.section .section.sitecreation.isEditing:last-child {
    margin-bottom: 50px;
}

.section .section.sitecreation.isediting header {
    cursor: move !important;
}

.siteCreation bp-activeicons {
    display: inline !important;
}


/* Sitecreation closed */

.siteCreation.closed .toolsi {
    margin-right: 60px;
}

.siteCreation.closed bp-activeicons {
    display: inline !important;
}

.siteCreation.closed header.tools {
    margin-bottom: 0;
    padding: 10px;
}

.siteCreation.closed .openSiteButton,
.siteCreation.closed .downloadSiteButtonLarge {
    display: inline-block !important;/* */
}

.siteCreation.closed header i {
    font-size: 20px;
}

.siteCreation.closed div {
    height: 0px;
}

.siteCreation.closed {
    height: 41px;
}

.siteCreation.closed em {
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #ddd;
    font-size: 18px;
    font-style: normal;
}

.siteCreation em {
    font-style: normal;
}


/* Templates site */

.section.template h3 {
    margin: 0 0 5px;
}

.section.template h4 {
    margin: 8px 0 2px;
}

.section.template h4:first-child {
    margin: 2px 0;
}

.section.template xmp,
.section.template pre {
    margin: 0;
}

.section.template pre {
    background: #f9f9f9;
    border: 1px solid #eee;
    margin: 5px 0;
}


/* Form elements */

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
input[type="textarea"] {
    border: 1px solid #ddd;
    padding: 3px 5px;
    font-size: 14px;
    outline: none;
    width: 100%;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {}

input[type="checkbox"] {
    cursor: pointer;
}

input[disabled] {
    background: #f9f9f9;
}

input[type="radio"] {
    cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
*[class^="button"]:focus,
textarea:focus {
    /*
    box-shadow: 0px 0px 1px 0px #118AB2;*/
    border-color: var(--green);
    outline: none;
}

textarea,
input[type="textarea"] {
    max-width: 100%;
    resize: none;
}

input[type="radio"]:focus {
    outline: none;
    box-shadow: none;
}

tbody th {
    padding-top: 15px;
}

tbody tr:first-child th {
    padding-top: 5px;
}

label {
    cursor: pointer;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

label:hover {
    text-decoration: underline;
    text-decoration-color: #aaa;
}


/* BUTTONS */

*[class^="button"],
button {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    background: #eee;
    border: 1px solid #ccc;
    border-bottom-color: #ddd;
    border-right-color: #ddd;
    font-weight: bold;
    font-size: 14px;
}

i.after {
    margin-left: 2px;
}

i.before {
    margin-right: 2px;
}

header i.before {
    margin-right: 5px;
}

*[class^="button"].large,
button.large {
    padding: 25px 20px;
    border-style: dashed;
}

*[class^="button"].small,
button.small {
    font-weight: normal;
    font-size: 12px;
    background: none;
    border: none;
}

*[class^="button"].light {
    font-weight: normal;
}

.button-green {
    background: var(--green);
    color: #f9f9f9;
    border-color: #111;
    border-left-color: var(--green-dark);
    border-top-color: var(--green-dark);
}

.button-navy {
    background: var(--navy);
    color: #fff;
    border-color: var(--navy-dark);
    border-left-color: #111;
    border-top-color: #111;
}

.button-blue {
    background: var(--blue);
    color: #fff;
    border-color: var(--navy-dark);
    border-left-color: #111;
    border-top-color: #111;
}

.button-red {
    background: var(--red-dark);
    color: #fff;
    border-color: var(--red-dark);
    border-left-color: #111;
    border-top-color: #111;
}

.plusbutton {
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    text-decoration: none;
    position: absolute;
    top: 25px;
    right: 15px;
}


/* Table */

.cxtable tr td:first-child {
    width: 15px;
}

.settings {
    display: none;
}

.cxtable tr td:last-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cxtable {
    color: #ddd;
}

.cxtable td {
    padding: 5px 10px;
    border-radius: 2px;
}

td label {
    display: inline-block;
    min-width: 80%;
}

.cxtable tr {
    border: none !important;
    background: #222;
}

.cxtable input[type="checkbox"] {
    cursor: pointer;
}

.afterth td {
    padding-top: 10px;
}

table {
    font-size: 14px;
}

table,
tr {
    width: 400px;
}

td.info {
    color: #555;
}

td.go {
    text-align: right;
}

table tr td {
    padding: 5px 5px 5px 0;
}

th {
    text-align: left;
    padding: 15px 0 10px 0;
    font-size: 15px;
    font-weight: 600;
    color: #555;
    border-bottom: 1px solid rgba(223, 160, 110, 0.2);
}

.section:nth-child(odd) th {
    border-bottom-color: var(--navy-lighter);
}

.section:nth-child(even) .section th {
    border-bottom-color: rgba(223, 160, 110, 0.2);
}

table tr td:first-child {
    width: 35%;
}

td select {
    width: 100%;
    cursor: pointer;
}

.ui-autocomplete {
    background: #333;
    color: #f9f9f9;
    list-style: none;
    padding: 5px;
    cursor: pointer;
    max-width: 400px;
}

.ui-autocomplete li:hover {
    background: #222;
}

.ui-tooltip {
    color: #f9f9f9;
    cursor: pointer;
}


/* ONE OFF CLASSES */

.createSite {
    display: none;
}

.radio {
    padding: 5px 0 10px;
}

.radio input[type="radio"] {
    margin: 0 5px 0 5px;
}

.radio input[type="radio"]:first-child {
    margin-left: 0;
}

.tools span {
    padding: 5px 5px 5px 10px;
    color: #555;
    height: 13px !important;
    overflow: hidden !important;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1em;
    display: inline-block;
    margin: 0 5px;
    display: none;
    font-size: 12px;
    margin-left: 0;
}

.tools span a {
    color: #fff;
    text-decoration: none;
    background: #5f1c2c;
    padding: 2px 5px;
    margin: 0 5px;
    border-radius: 4px;
}

.tools .mark {
    position: absolute;
    top: 7px;
    right: 7px;
    display: none;
    cursor: pointer;
}

select.action {
    width: 100%;
    border-radius: 0px;
    background: var(--navy);
    color: #f9f9f9;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px 10px;
    border: 1px solid var(--navy-dark);
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.5;
    display: none;
}

.openSiteButton {
    position: absolute;
    top: 10px;
    left: 39px;
    font-size: 20px;
    color: #333;
    display: none;
}

.downloadSiteButtonLarge {
    position: absolute;
    top: 10px;
    left: 65px;
    font-size: 20px;
    color: #333;
    display: none;
}

.toolsi {
    font-size: 16px;
}

.mixblend {
    background: url('../images/blur-pattern-lg.jpg');
    background-repeat: no-repeat;
    background-position: left 80%;
}


/* MEDIA QUERIES */

@media only screen and (max-width:1100px) {
    .fifty {
        float: none !important;
        width: 100%;
    }
    .fifty table,
    .fifty table tr {
        width: 100% !important;
    }
}

@media only screen and (max-width:700px) {
    .left-menu {
        display: none;
    }
    .main {
        width: 100%;
    }
}

@media only screen and (min-width:2000px) {
    #container {
        margin: 0 auto;
        max-width: 1800px;
    }
}

.previewThemes {
    display: block;
    text-align: left;
    padding: 5px 10px;
    color: var(--navy);
    text-decoration: none;
    background: #f9f9f9;
    border-bottom: 1px solid transparent;
}

.previewThemes:focus,
.addInclude:focus {
    border-bottom-color: var(--green);
    outline: none;
    box-shadow: 4px 2px 10px -5px #aaa;
}

.addInclude {
    display: block;
    text-align: center;
    text-decoration: none;
    background: var(--navy);
    border-bottom: 1px solid transparent;
    padding: 8px;
    color: #f9f9f9;
    opacity: 0.8;
    cursor: pointer;
}

.addInclude:hover {
    opacity: 1;
}

.customtr,
.thPu {
    display: none;
    ;
}

.thPu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.thPu > div {
    margin: 0 auto;
    max-width: 700px;
    background: #333;
    color: #f9f9f9;
    padding: 10px;
    cursor: default;
    border: 10px solid #222;
    border-top: none;
}

.thPu h3 {
    margin: 5px -10px;
    background: #222;
    padding: 5px 10px;
}

.thPu h4 {
    color: #aaa;
    margin: 10px 0 0px;
}

.thPu code {
    border: 10px solid #222;
}

.plusminustd,
.pagetd {
    position: relative;
}

.removeTd,
.newPage {
    position: absolute;
    top: 0;
    right: 0;
    color: #333;
}

.removeTd:focus,
.newPage:focus {
    outline: none;
    color: var(--red);
}

.removeTd i,
.newPage i {
    background: white;
    border-radius: 25px;
}

.exportSaveTr,
.importSaveTr {
    display: none;
}

.exportSaveNow,
.importSaveNow {
    display: block;
    padding: 5px;
    color: #fff;
    max-width: 200px;
}

.ui-sortable-helper {
    cursor: move !important;
}

.exportSave,
.importSave {
    color: #fff;
    display: block;
    text-decoration: none;
}

.firsttime {
    position: absolute;
    top: 65px;
    right: 20px;
    background: rgba(95, 28, 44, 0.05);
    padding: 5px;
    border: 1px solid var(--red-dark);
    border-bottom: 0;
    border-right: 0;
    cursor: pointer;
}

.massedit {
    display: none;
}

.massedit {
    display: none;
}


/* Button Styles */

.btn {
    display: block;
    width: 100%;
    margin: 5px;
}

.flat {
    padding: 20px 20px;
    border-radius: 2px;
}

.rounded {
    padding: 15px 15px;
    border-radius: 45px;
}

.btn3d {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 20px 70px;
    font-size: 24px;
    border: 1px solid #2d6898;
    background-image: linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -o-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(73, 132, 180) 0%, rgb(97, 155, 203) 100%);
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, rgb(73, 132, 180)), color-stop(1, rgb(97, 155, 203)));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: 0px 6px 0px #2b638f, 0px 3px 15px rgba(0, 0, 0, .4), inset 0px 1px 0px rgba(255, 255, 255, .3), inset 0px 0px 3px rgba(255, 255, 255, .5);
}

.normal-btn {
    background: #eee;
    color: #2D2A32;
    border: 2px solid #d3d3d3;
}

.error-btn {
    background: #DF2935;
    color: #2D2A32;
    border: 2px solid #A31E27;
}

.success-btn {
    background: #37B73F;
    color: #2D2A32;
    border: 2px solid #29862E;
}

.warning-btn {
    background: #F58F29;
    color: #2D2A32;
    border: 2px solid #C97622;
}

#btn-showcase {
    padding-right: 5px;
}

.doanimation {
    animation: moveBackground 0.3s ease-out;
}

.keepV,
.errorInput {
    transition: padding-left 0.1s ease-in-out;
    background-position: 5px center;
    background-size: auto 65%;
    background-repeat: no-repeat;
    padding-left: 21px !important;
}

.keepV {
    background-image: url('../images/check.png');
}

.errorInput {
    background-image: url('../images/close.png');
    padding-left: 22px !important;
}

.fancyTrAni {
    transition: all 0.1s ease-in-out;
    box-shadow: 4px 2px 10px -5px #aaa;
}

td {
    transition: all 0.1s ease-in-out;
}

textarea.keepV {
    background-size: auto 12px;
    background-position: 5px 5px;
}

.keepV:before {
    content: "v";
    position: absolute;
    top: 0;
    right: 0;
}
/*.resetstyles,.resetstyles *,.resetstyles a:hover,.resetstyles a:visited,.resetstyles a:active{
    background:none;
    border:none;
    bottom:auto;
    clear:none;
    cursor:default;
    /* didn't really know what the default for display should be*/
    /*display:inline;*/
/*    float:none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:medium;
    font-style:normal;
    font-weight:normal;
    height:auto;
    left:auto;
    letter-spacing:normal;
    line-height:normal;
    max-height:none;
    max-width:none;
    min-height:0;
    min-width:0;
    overflow:visible;
    position:static;
    right:auto;
    text-align:left;
    text-decoration:none;
    text-indent:0;
    text-transform:none;
    top:auto;
    visibility:visible;
    white-space:normal;
    width:auto;
    z-index:auto;
}*/
@keyframes moveBackground {
    0% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 0%, #ffffff 8%);
    }
    1% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 1%, #ffffff 9%);
    }
    2% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 2%, #ffffff 10%);
    }
    3% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 3%, #ffffff 11%);
    }
    4% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 4%, #ffffff 12%);
    }
    5% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 5%, #ffffff 13%);
    }
    6% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 6%, #ffffff 14%);
    }
    7% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 7%, #ffffff 15%);
    }
    8% {
        background: linear-gradient(90deg, #ffffff 0%, rgba(0, 0, 0, 0.1) 8%, #ffffff 16%);
    }
    9% {
        background: linear-gradient(90deg, #ffffff 1%, rgba(0, 0, 0, 0.1) 9%, #ffffff 17%);
    }
    10% {
        background: linear-gradient(90deg, #ffffff 2%, rgba(0, 0, 0, 0.1) 10%, #ffffff 18%);
    }
    11% {
        background: linear-gradient(90deg, #ffffff 3%, rgba(0, 0, 0, 0.1) 11%, #ffffff 19%);
    }
    12% {
        background: linear-gradient(90deg, #ffffff 4%, rgba(0, 0, 0, 0.1) 12%, #ffffff 20%);
    }
    13% {
        background: linear-gradient(90deg, #ffffff 5%, rgba(0, 0, 0, 0.1) 13%, #ffffff 21%);
    }
    14% {
        background: linear-gradient(90deg, #ffffff 6%, rgba(0, 0, 0, 0.1) 14%, #ffffff 22%);
    }
    15% {
        background: linear-gradient(90deg, #ffffff 7%, rgba(0, 0, 0, 0.1) 15%, #ffffff 23%);
    }
    16% {
        background: linear-gradient(90deg, #ffffff 8%, rgba(0, 0, 0, 0.1) 16%, #ffffff 24%);
    }
    17% {
        background: linear-gradient(90deg, #ffffff 9%, rgba(0, 0, 0, 0.1) 17%, #ffffff 25%);
    }
    18% {
        background: linear-gradient(90deg, #ffffff 10%, rgba(0, 0, 0, 0.1) 18%, #ffffff 26%);
    }
    19% {
        background: linear-gradient(90deg, #ffffff 11%, rgba(0, 0, 0, 0.1) 19%, #ffffff 27%);
    }
    20% {
        background: linear-gradient(90deg, #ffffff 12%, rgba(0, 0, 0, 0.1) 20%, #ffffff 28%);
    }
    21% {
        background: linear-gradient(90deg, #ffffff 13%, rgba(0, 0, 0, 0.1) 21%, #ffffff 29%);
    }
    22% {
        background: linear-gradient(90deg, #ffffff 14%, rgba(0, 0, 0, 0.1) 22%, #ffffff 30%);
    }
    23% {
        background: linear-gradient(90deg, #ffffff 15%, rgba(0, 0, 0, 0.1) 23%, #ffffff 31%);
    }
    24% {
        background: linear-gradient(90deg, #ffffff 16%, rgba(0, 0, 0, 0.1) 24%, #ffffff 32%);
    }
    25% {
        background: linear-gradient(90deg, #ffffff 17%, rgba(0, 0, 0, 0.1) 25%, #ffffff 33%);
    }
    26% {
        background: linear-gradient(90deg, #ffffff 18%, rgba(0, 0, 0, 0.1) 26%, #ffffff 34%);
    }
    27% {
        background: linear-gradient(90deg, #ffffff 19%, rgba(0, 0, 0, 0.1) 27%, #ffffff 35%);
    }
    28% {
        background: linear-gradient(90deg, #ffffff 20%, rgba(0, 0, 0, 0.1) 28%, #ffffff 36%);
    }
    29% {
        background: linear-gradient(90deg, #ffffff 21%, rgba(0, 0, 0, 0.1) 29%, #ffffff 37%);
    }
    30% {
        background: linear-gradient(90deg, #ffffff 22%, rgba(0, 0, 0, 0.1) 30%, #ffffff 38%);
    }
    31% {
        background: linear-gradient(90deg, #ffffff 23%, rgba(0, 0, 0, 0.1) 31%, #ffffff 39%);
    }
    32% {
        background: linear-gradient(90deg, #ffffff 24%, rgba(0, 0, 0, 0.1) 32%, #ffffff 40%);
    }
    33% {
        background: linear-gradient(90deg, #ffffff 25%, rgba(0, 0, 0, 0.1) 33%, #ffffff 41%);
    }
    34% {
        background: linear-gradient(90deg, #ffffff 26%, rgba(0, 0, 0, 0.1) 34%, #ffffff 42%);
    }
    35% {
        background: linear-gradient(90deg, #ffffff 27%, rgba(0, 0, 0, 0.1) 35%, #ffffff 43%);
    }
    36% {
        background: linear-gradient(90deg, #ffffff 28%, rgba(0, 0, 0, 0.1) 36%, #ffffff 44%);
    }
    37% {
        background: linear-gradient(90deg, #ffffff 29%, rgba(0, 0, 0, 0.1) 37%, #ffffff 45%);
    }
    38% {
        background: linear-gradient(90deg, #ffffff 30%, rgba(0, 0, 0, 0.1) 38%, #ffffff 46%);
    }
    39% {
        background: linear-gradient(90deg, #ffffff 31%, rgba(0, 0, 0, 0.1) 39%, #ffffff 47%);
    }
    40% {
        background: linear-gradient(90deg, #ffffff 32%, rgba(0, 0, 0, 0.1) 40%, #ffffff 48%);
    }
    41% {
        background: linear-gradient(90deg, #ffffff 33%, rgba(0, 0, 0, 0.1) 41%, #ffffff 49%);
    }
    42% {
        background: linear-gradient(90deg, #ffffff 34%, rgba(0, 0, 0, 0.1) 42%, #ffffff 50%);
    }
    43% {
        background: linear-gradient(90deg, #ffffff 35%, rgba(0, 0, 0, 0.1) 43%, #ffffff 51%);
    }
    44% {
        background: linear-gradient(90deg, #ffffff 36%, rgba(0, 0, 0, 0.1) 44%, #ffffff 52%);
    }
    45% {
        background: linear-gradient(90deg, #ffffff 37%, rgba(0, 0, 0, 0.1) 45%, #ffffff 53%);
    }
    46% {
        background: linear-gradient(90deg, #ffffff 38%, rgba(0, 0, 0, 0.1) 46%, #ffffff 54%);
    }
    47% {
        background: linear-gradient(90deg, #ffffff 39%, rgba(0, 0, 0, 0.1) 47%, #ffffff 55%);
    }
    48% {
        background: linear-gradient(90deg, #ffffff 40%, rgba(0, 0, 0, 0.1) 48%, #ffffff 56%);
    }
    49% {
        background: linear-gradient(90deg, #ffffff 41%, rgba(0, 0, 0, 0.1) 49%, #ffffff 57%);
    }
    50% {
        background: linear-gradient(90deg, #ffffff 42%, rgba(0, 0, 0, 0.1) 50%, #ffffff 58%);
    }
    51% {
        background: linear-gradient(90deg, #ffffff 43%, rgba(0, 0, 0, 0.1) 51%, #ffffff 59%);
    }
    52% {
        background: linear-gradient(90deg, #ffffff 44%, rgba(0, 0, 0, 0.1) 52%, #ffffff 60%);
    }
    53% {
        background: linear-gradient(90deg, #ffffff 45%, rgba(0, 0, 0, 0.1) 53%, #ffffff 61%);
    }
    54% {
        background: linear-gradient(90deg, #ffffff 46%, rgba(0, 0, 0, 0.1) 54%, #ffffff 62%);
    }
    55% {
        background: linear-gradient(90deg, #ffffff 47%, rgba(0, 0, 0, 0.1) 55%, #ffffff 63%);
    }
    56% {
        background: linear-gradient(90deg, #ffffff 48%, rgba(0, 0, 0, 0.1) 56%, #ffffff 64%);
    }
    57% {
        background: linear-gradient(90deg, #ffffff 49%, rgba(0, 0, 0, 0.1) 57%, #ffffff 65%);
    }
    58% {
        background: linear-gradient(90deg, #ffffff 50%, rgba(0, 0, 0, 0.1) 58%, #ffffff 66%);
    }
    59% {
        background: linear-gradient(90deg, #ffffff 51%, rgba(0, 0, 0, 0.1) 59%, #ffffff 67%);
    }
    60% {
        background: linear-gradient(90deg, #ffffff 52%, rgba(0, 0, 0, 0.1) 60%, #ffffff 68%);
    }
    61% {
        background: linear-gradient(90deg, #ffffff 53%, rgba(0, 0, 0, 0.1) 61%, #ffffff 69%);
    }
    62% {
        background: linear-gradient(90deg, #ffffff 54%, rgba(0, 0, 0, 0.1) 62%, #ffffff 70%);
    }
    63% {
        background: linear-gradient(90deg, #ffffff 55%, rgba(0, 0, 0, 0.1) 63%, #ffffff 71%);
    }
    64% {
        background: linear-gradient(90deg, #ffffff 56%, rgba(0, 0, 0, 0.1) 64%, #ffffff 72%);
    }
    65% {
        background: linear-gradient(90deg, #ffffff 57%, rgba(0, 0, 0, 0.1) 65%, #ffffff 73%);
    }
    66% {
        background: linear-gradient(90deg, #ffffff 58%, rgba(0, 0, 0, 0.1) 66%, #ffffff 74%);
    }
    67% {
        background: linear-gradient(90deg, #ffffff 59%, rgba(0, 0, 0, 0.1) 67%, #ffffff 75%);
    }
    68% {
        background: linear-gradient(90deg, #ffffff 60%, rgba(0, 0, 0, 0.1) 68%, #ffffff 76%);
    }
    69% {
        background: linear-gradient(90deg, #ffffff 61%, rgba(0, 0, 0, 0.1) 69%, #ffffff 77%);
    }
    70% {
        background: linear-gradient(90deg, #ffffff 62%, rgba(0, 0, 0, 0.1) 70%, #ffffff 78%);
    }
    71% {
        background: linear-gradient(90deg, #ffffff 63%, rgba(0, 0, 0, 0.1) 71%, #ffffff 79%);
    }
    72% {
        background: linear-gradient(90deg, #ffffff 64%, rgba(0, 0, 0, 0.1) 72%, #ffffff 80%);
    }
    73% {
        background: linear-gradient(90deg, #ffffff 65%, rgba(0, 0, 0, 0.1) 73%, #ffffff 81%);
    }
    74% {
        background: linear-gradient(90deg, #ffffff 66%, rgba(0, 0, 0, 0.1) 74%, #ffffff 82%);
    }
    75% {
        background: linear-gradient(90deg, #ffffff 67%, rgba(0, 0, 0, 0.1) 75%, #ffffff 83%);
    }
    76% {
        background: linear-gradient(90deg, #ffffff 68%, rgba(0, 0, 0, 0.1) 76%, #ffffff 84%);
    }
    77% {
        background: linear-gradient(90deg, #ffffff 69%, rgba(0, 0, 0, 0.1) 77%, #ffffff 85%);
    }
    78% {
        background: linear-gradient(90deg, #ffffff 70%, rgba(0, 0, 0, 0.1) 78%, #ffffff 86%);
    }
    79% {
        background: linear-gradient(90deg, #ffffff 71%, rgba(0, 0, 0, 0.1) 79%, #ffffff 87%);
    }
    80% {
        background: linear-gradient(90deg, #ffffff 72%, rgba(0, 0, 0, 0.1) 80%, #ffffff 88%);
    }
    81% {
        background: linear-gradient(90deg, #ffffff 73%, rgba(0, 0, 0, 0.1) 81%, #ffffff 89%);
    }
    82% {
        background: linear-gradient(90deg, #ffffff 74%, rgba(0, 0, 0, 0.1) 82%, #ffffff 90%);
    }
    83% {
        background: linear-gradient(90deg, #ffffff 75%, rgba(0, 0, 0, 0.1) 83%, #ffffff 91%);
    }
    84% {
        background: linear-gradient(90deg, #ffffff 76%, rgba(0, 0, 0, 0.1) 84%, #ffffff 92%);
    }
    85% {
        background: linear-gradient(90deg, #ffffff 77%, rgba(0, 0, 0, 0.1) 85%, #ffffff 93%);
    }
    86% {
        background: linear-gradient(90deg, #ffffff 78%, rgba(0, 0, 0, 0.1) 86%, #ffffff 94%);
    }
    87% {
        background: linear-gradient(90deg, #ffffff 79%, rgba(0, 0, 0, 0.1) 87%, #ffffff 95%);
    }
    88% {
        background: linear-gradient(90deg, #ffffff 80%, rgba(0, 0, 0, 0.1) 88%, #ffffff 96%);
    }
    89% {
        background: linear-gradient(90deg, #ffffff 81%, rgba(0, 0, 0, 0.1) 89%, #ffffff 97%);
    }
    90% {
        background: linear-gradient(90deg, #ffffff 82%, rgba(0, 0, 0, 0.1) 90%, #ffffff 98%);
    }
    91% {
        background: linear-gradient(90deg, #ffffff 83%, rgba(0, 0, 0, 0.1) 91%, #ffffff 99%);
    }
    92% {
        background: linear-gradient(90deg, #ffffff 84%, rgba(0, 0, 0, 0.1) 92%, #ffffff 100%);
    }
    93% {
        background: linear-gradient(90deg, #ffffff 85%, rgba(0, 0, 0, 0.1) 93%, #ffffff 100%);
    }
    94% {
        background: linear-gradient(90deg, #ffffff 86%, rgba(0, 0, 0, 0.1) 94%, #ffffff 100%);
    }
    95% {
        background: linear-gradient(90deg, #ffffff 87%, rgba(0, 0, 0, 0.1) 95%, #ffffff 100%);
    }
    96% {
        background: linear-gradient(90deg, #ffffff 88%, rgba(0, 0, 0, 0.1) 96%, #ffffff 100%);
    }
    97% {
        background: linear-gradient(90deg, #ffffff 89%, rgba(0, 0, 0, 0.1) 97%, #ffffff 100%);
    }
    98% {
        background: linear-gradient(90deg, #ffffff 90%, rgba(0, 0, 0, 0.1) 98%, #ffffff 100%);
    }
    99% {
        background: linear-gradient(90deg, #ffffff 91%, rgba(0, 0, 0, 0.1) 99%, #ffffff 100%);
    }
    100% {
        background: linear-gradient(90deg, #ffffff 92%, rgba(0, 0, 0, 0.1) 100%, #ffffff 100%);
    }
}
