*{box-sizing:border-box;}
:root {
  --red: #EF476F;
  --green: #06D6A0;
  --blue: #118AB2;
  --orange: #DFA06E;
  --navy: #073B4C;
}
.clear{clear:both;}
body, html{
  padding:0;
  margin:0;
  font-family:sans-serif, arial;
  font-size:15px;
  color:#333;
}
#container{
  max-width:1400px;
  margin:0 auto;
  min-height:100px;
}
.left-menu, .main{
  float:left;
  min-height:200px;
}
.left-menu .nav-link{
  display:block;
  text-decoration:none;
  padding:10px;
  margin-bottom:10px;
  border:1px solid #eee;
  font-weight:600;
  font-size:14px;
  color:#555;
  box-shadow:inset 0px 0px 5px #fff;
}
.left-menu .nav-link:last-child{
  margin-bottom:0;
}
.left-menu .box{
  padding:5px 5px 20px 0px;
  border-bottom:1px solid #eee;
  margin:10px 0;
}
.left-menu .box h3{
  margin:0 -10px 5px;
  font-weight:300;
  padding:5px 10px;
}
.left-menu .box:last-child{
  margin-bottom:0;
  border-bottom:0;
}
.left-menu{
  width:250px;
}
.main{
  width:calc(100% - 250px);
  padding:10px;
  position:relative;
}
.subpage-header{
  font-weight:300;
  margin:0 0 20px 0;
  font-size:36px;
  padding:5px 0;
  border-bottom:1px solid #eee;
}
.section{
  border-left:5px solid var(--orange);
  padding:5px 10px 5px;
  border-bottom:1px solid #f9f9f9;
  box-shadow:-9px 0px 9px 0px #f9f9f9;
  margin:5px 0 15px;
}

.afterth td{
  padding-top:10px;
}
.section:nth-child(odd){
  border-left-color:var(--navy);
}
.plusbutton{
  display:inline-block;
  color:#fff;
  background:#06D6A0;
  padding:5px 5px;
  text-align:center;
  border-radius:2px;
  text-decoration:none;
  position:absolute;
  top:25px;
  right:15px;
}
.section h2{
  font-weight:300;
  border-bottom:1px solid #f9f9f9;
  font-size:26px;
  margin:0px 0 10px;
}
input[type="text"], input[type="password"], input[type="email"]{
  border:1px solid #ddd;
  border-bottom-color:#eee;
  border-right-color:#eee;
  padding:3px 5px;
  font-size:14px;
  outline:none;
  width:100%;
}
input[disabled]{
  background:#f9f9f9;
}
input:focus{
  box-shadow:0px 0px 1px 0px #118AB2;
}
table{
  font-size:14px;
}
table, tr{
  width:400px;
}
td.info{
  color:#555;
}
table tr td{
  padding:5px 0;
}
.fifty-cont{
  
}
.fifty{
  width:50%;
  float:left;
}
th{
  text-align:left;
  padding:5px 0 5px;
  font-size:15px;
  font-weight:600;
  color:#555;
  border-bottom:1px solid rgba(223, 160, 110, 0.2);
}
table tr td:first-child{
  width:30%;
}
.section p{
  line-height:1.5em;
  margin:0;
  padding:5px 0px;
}
@media only screen and (max-width:1100px){
  .fifty{
    float:none !important;
    width:100%;
  }
  .fifty table, .fifty table tr{
    width:100% !important;
  }
}